<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">
    
    <div class="row">
        
        <div class="col-md-12">
            <div class="bike-img">
                <img src="img/biking/bike3.jpg" />
            </div>
        </div>        
        
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="center-title">
                <center>
                    <img src="img/logo.jpg" />
                    MACEDONIA  X  BIKING TOURS
                </center>
            </div>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-3">
            <img src="img/biking/XBiking.jpg" style="height: 40%;"/>
        </div>
        
        
    </div>
    
    
</div>