<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <div class="bike-img">
                <img src="img/biking/bike3.jpg" />
            </div>
        </div>        

    </div>

    <div class="row">
        <div class="col-md-12" style="background: #bcbdc0;">
            <div class="center-title">
                <div class="col-md-2">
                    <center>
                        <a href="#/home"><img src="img/logo.jpg" /></a>
                    </center>
                </div>
                <div class="col-md-4" >
                    M A C E D O N I A
                </div>
                <div class="col-md-1">
                    X
                </div>
                <div class="col-md-3">
                    B I K I N G
                </div>
                <div class="col-md-2">
                    T O U R S
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2">
            <img src="img/biking/XBiking.jpg" style="height: 40%;"/>
        </div>

    </div>


</div>