<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">
    
    
    <div id="horizontal-logo" class="down-logo">
        <img src="img/logo_xtm.jpg" id="logo"/>
    </div>

    <div class="categories" id="cat">
        
        <div id="vertical-image" class="row">
            <div  class="col-xs-12">
                <img src="img/hlogo.jpg" alt=""/>
            </div>
        </div>
        
        <div class="row" id="row1">
               
            
            <div class="col-md-3">
                <a href="#/biking"><img id="biking" class="pop" src="img/(1).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/jeep-safari"><img class="pop" src="img/(7).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/rock-climbing"><img class="pop" src="img/(6).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/hiking"><img class="pop" src="img/(3).jpg"/></a>
            </div>

        </div>

        <div class="row" id="row2">

            <div class="col-md-3">
                <a href=""><img class="pop" src="img/(8).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href=""><img class="pop" src="img/(4).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href=""><img class="pop" src="img/(5).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href=""><img class="pop" src="img/(2).jpg"/></a>
            </div>

        </div>
    </div>


</div>

