<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">
    
    <div class="down-logo">
        <img src="img/logo_xtm.jpg" id="logo"/>
    </div>

    <div class="categories">
        <div class="row">

            <div class="col-md-3">
                <a href="#/biking"><img class="pop" src="img/(1).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/jeep-safari"><img class="pop" src="img/(7).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/rock-climbing"><img class="pop" src="img/(6).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/hiking"><img class="pop" src="img/(3).jpg"/></a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <a href="#/snow-boarding"><img class="pop" src="img/(8).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/kayaking"><img class="pop" src="img/(4).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/paragliding"><img class="pop" src="img/(5).jpg"/></a>
            </div>

            <div class="col-md-3">
                <a href="#/scuba-diving"><img class="pop" src="img/(2).jpg"/></a>
            </div>

        </div>
    </div>


</div>

<div class="row">
    <div class="underImages"></div>
</div>

<div class="row footer">
    
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <img src="../img/logo-belo.png" style="margin-top: 13px;margin-right: 15px;width: 50px;height: 50px;float: left;" alt=""/>
            <p style="font-size: 44px;margin-top: 13px;float: left;">TRAVEL IS OUR LIFE.</p>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-2 col-md-offset-1">
            <p style="font-size: 32px;text-decoration: underline;">MENU</p>
            <p style="font-size: 16px;">BIKING</p>
            <p style="font-size: 16px;">JEEP SAFARI</p>
            <p style="font-size: 16px;">ROCK CLIMBING</p>
            <p style="font-size: 16px;">HIKING</p>
            <p style="font-size: 16px;">SNOWBOARDING</p>
            <p style="font-size: 16px;">KAYAKING</p>
            <p style="font-size: 16px;">PARAGLIDING</p>
            <p style="font-size: 16px;">SCUBA DIVING</p>
        </div>
        <div class="col-md-2">
            <p style="font-size: 32px;text-decoration: underline;">ABOUT <span style="color:red;font-size: 40px;">X</span></p>
            <p style="font-size: 16px;">EXTREME MACEDONIA IS WEBSITE FOR ADVENTURERS AND EXPLORERS FROM ALL OVER THE WORLD...</p>
        </div>
        <div class="col-md-3">
            <p style="font-size: 32px;text-decoration: underline;">CONTACT</p>
            <p style="font-size: 16px;">P: +389 23 115 587</p>
            <p style="font-size: 16px;">M: +389 70 270 252</p>
            <p style="font-size: 16px;">E: INFO [at] EXTREME-MACEDONIA [dot] COM</p>
            <p style="font-size: 16px;">W: WWW.EXTREME-MACEDONIA.COM</p>
            <p style="font-size: 16px;"> WWW.KOMPAS-MACEDONIA.COM</p>
            <p style="font-size: 16px;">W: WWW.KOMPAS-SKOPJE.COM</p>
        </div>
    </div>
    
</div>

<!--<div class="row">
    <div class="copyright">
        <div class="col-md-11 col-md-offset-1">
            <p style="font-size: 20px;margin-top: 13px;">© 2014 EXTREME MACEDONIA. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</div>-->