<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">
    
    <div class="row">
        
        <div class="col-md-3">
            <a href="#/biking"><img src="img/(1).jpg"/></a>
        </div>
        
        <div class="col-md-3">
            <a href="#/scuba-diving"><img src="img/(2).jpg"/></a>
        </div>
        
        <div class="col-md-3">
            <a href="#/hiking"><img src="img/(3).jpg"/></a>
        </div>
        
        <div class="col-md-3">
            <a href="#/kayaking"><img src="img/(4).jpg"/></a>
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="col-md-3">
            <a href="#/paragliding"><img src="img/(5).jpg"/></a>
        </div>
        
        <div class="col-md-3">
            <a href="#/rock-climbing"><img src="img/(6).jpg"/></a>
        </div>
        
        <div class="col-md-3">
            <a href="#/jeep-safari"><img src="img/(7).jpg"/></a>
        </div>
        
        <div class="col-md-3">
            <a href="#/snow-boarding"><img src="img/(8).jpg"/></a>
        </div>
        
    </div>
</div>