<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <img id="bikeCover" src="img/climbing/climbing-cover.jpg" />
        </div>
    </div>

    <div id="line" class="row">
        <div class="col-md-12">
            <img id="bikeLine" src="img/climbing/climbing.jpg" />
        </div>
    </div>

    <div id="down-side" class="row">
        <div class="col-md-2">
            <img id="biking" src="img/climbing/climbing-pdf.jpg" />
        </div>
        <div id="line1" class="col-md-10" style="padding: 0px;">
            <img src="img/climbing/1.jpg" />
        </div>
        <div id="line2" class="col-md-10" style="padding: 0px;">
            <img src="img/climbing/2.jpg" />
        </div>
        <div id="line3" class="col-md-10" style="padding: 0px;">
            <img src="img/climbing/3.jpg" />
        </div>
        <!--<div id="line4" class="col-md-10" style="padding: 0px;">-->
            <!--<img src="img/climbing/line4.jpg" />-->
        <!--</div>-->
        <!--<div id="line5" class="col-md-10" style="padding: 0px;">-->
            <!--<img src="img/climbing/line5.jpg" />-->
        <!--</div>-->
    </div>


</div>